<% if(success && success.length){ %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3 my-3" role="alert">
        <%= success %>
        <Button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close" ></Button>
    </div>
<% } %>

<% if(error && error.length){ %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 my-3" role="alert">
        <%= error %>
        <Button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close" ></Button>
    </div>
<% } %>