<link rel="stylesheet" href="/CSS/navbar.css">
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top mb-3">
  <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass-drafting"></i></a>

  <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav search-area">
    <form role="search" class="d-flex">
      <input type="search" class="form-control me-2 search-inp" placeholder="Search Destination" aria-label="search">
      <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i> </button>
    </form>
  </div>

  <div class="navbar-nav ms-auto collapsed-search-area">
    <form role="search" class="d-flex" onsubmit="return false;">
      <input type="search" class="form-control search-inp-2 me-2" placeholder="Search" aria-label="search">
      <button class="btn search-btn-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
 

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ms-auto ">
      <div class="theme-toggle mx-3 mt-1" style="cursor: pointer;">
        <span id="dark-mode-icon" class="fs-5">ðŸŒ™</span>
      </div>
      <a class="nav-link" href="/listings/new">Become a host</a>


      <% if(!currUser){ %>
        <a class="nav-link " href="/signup"><b>Register</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
          <% if(currUser){ %>
            <a class="nav-link" href="/logout"><b>Log Out</b></a>
            <% } %>
    </div>
  </div>
</nav>
<script>
  const darkModeIcon = document.getElementById("dark-mode-icon");

  const enableDarkMode = () => {
    document.body.classList.add("dark-mode");
    localStorage.setItem("darkMode", "enabled");
    darkModeIcon.textContent = "â˜€ï¸";
  };

  const disableDarkMode = () => {
    document.body.classList.remove("dark-mode");
    localStorage.setItem("darkMode", "disabled");
    darkModeIcon.textContent = "ðŸŒ™";
  };

  // On page load
  window.addEventListener("DOMContentLoaded", () => {
    if (localStorage.getItem("darkMode") === "enabled") {
      enableDarkMode();
    } else {
      disableDarkMode();
    }
  });

  darkModeIcon.addEventListener("click", () => {
    if (document.body.classList.contains("dark-mode")) {
      disableDarkMode();
    } else {
      enableDarkMode();
    }
  });
</script>
