html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /* background-color: #d4d948 !important; */

}

body {

    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
}


/* Navbar */

.navbar {
    height: 5rem;
    background-color: #ebebeb;
    /* display: flex; */
}

.fa-compass-drafting {
    color: #e41d55 ;
    font-size: 2rem;
    margin-left: 10px;
}

.nav-link {
    color: #222 !important;
    /* font-size: 20px !important;
    padding-left: 0px !important; */
}

.nav-link:hover {
    font-weight: bold;
    transition: 0.25s;
}

/* Footer */
.f-info {
    text-align: center;
    font-size: 14px;
    display: flex;
    height: 5rem !important;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links,
.f-info-socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.f-info-socials i {
    font-size: 1.3rem;
    margin: 5px 5px;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
    margin: 0 6px;
}

.f-info-links a:hover {
    text-decoration: underline;
}


/* Card */
.listing-card {
    margin-bottom: 2rem;
    padding: 1rem !important;
    border: none !important;
    cursor: pointer;
}

.card:hover {
    scale: 1.01;
    transition: 0.25s ease-in-out;
}

a {
    text-decoration: none !important;
}


.card-img-top {
    border-radius: 2rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body b{
    font-size: 15px;
}
.card-text {
    font-size: 13px;
    font-weight: 400 !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.15;
    background-color: #fff;
    transition: 0.3s;
}

.heading {
    position: relative;
    left: 25px;
}

/* Add New Listing Page */
.add-btn,
.edit-btn {
    background-color: #e41d55 !important;
    border: none !important;
    color: #fff !important;
}

/* Show Page  */
.show-img {
    height: 40vh;
}

.btns {
    display: flex;
}

.show-card {
    padding: 0;
    margin: 0;
}

.show-btn {
    position: relative;
    left: 16px;
    bottom: 10px;
}


#map {
    height: 400px;
    width: 50vw;
    border: 1px solid rgba(0, 0, 0, 0.408);
    border-radius: 25px;
}

.active-filter {
    border-bottom: 2px solid #e41d55;
    scale: 1 !important;
    opacity: 1 !important;
  }
  
/* Filters Styling */
  #filters{
    height: 60px;
    width: auto;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.53);
    border-radius: 35% 35% / 30em 35em 30em 35em;
   
    justify-content: center;
    gap: 2rem;
    padding: 7px 1.5rem 1px 1.5rem;
    /* align-items: center; */
  }
  .filter{
    text-align: center;
    opacity: 0.8;
    scale: 0.9;
  }
  .filter:hover{
    opacity: 1;
    scale: 0.95;
    cursor: pointer;
    transition: 0.25s ease-in-out;
  }
  .filter p{
    font-size: 0.8rem;
  }
.tax-toggle{
    border: 1px solid rgba(0, 0, 0, 0.346);
    border-radius: 20% 20% / 30px 30px;
    height: 45px;
    width: 180px;
    padding-top: 8px;
    padding-right: 10px;

}
.form-check-input{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
}

.tax-Info{
    display: none;
}


 
  