<% layout('/layouts/boilerplate') -%>
<!-- <link rel="stylesheet" href="/HomePage/style.css"> -->
    <style>
        .page {
            padding: 5px;
            margin: 0;
            height: 100%;
            width: 100%;
            display: inline-flex;
            justify-content: space-evenly;
            border-radius: 15px;
            /* background-color: #2e2828; */
        }

        .page div {
            display: flex;
            height: 100%;
            width: 49%;
            /* border: 1px solid black;
            border-radius: 10px; */
        }
    </style>
    <div class="page">
        <div class="one">
            
        </div>
        <div class="two"></div>
    </div>