<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><i class="fa-solid fa-compass-drafting"></i></a>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link "  href="/">Home</a>
              <a class="nav-link" href="/listings">All Listings </a>
              <a class="nav-link" href="/listings/new">Add New Listing</a>
            </div>
          </div>
        </div>
      </nav>
</body>
</html>